/* ========================================
   Tailwind CSS
   ======================================== */

/* Import Tailwind CSS */
@import "tailwindcss";


/* ========================================
   Custom Theme
   ======================================== */

/*
  กำหนดสีของระบบ
  เพื่อให้สามารถเรียกใช้ผ่าน Tailwind ได้
*/
@theme {

  /* สีหลักของระบบ */
  --color-jade: #ABD1C6;

  /* สีพื้นหลังหลัก */
  --color-cloud: #FAFAFA;

  /* สีตัวอักษรหลัก */
  --color-dark: #26332F;

  /* สีตัวอักษรรอง */
  --color-muted: #6B7773;
}


/* ========================================
   Global Style
   ======================================== */

/*
  กำหนดพื้นหลังของเว็บไซต์ทั้งหมด
*/
body {
  margin: 0;
  background-color: #FAFAFA;
  color: #26332F;
}